alias update="sudo dnf update && flatpak update"

alias in='task add +in'
alias ti='task in'

tickle () {
    deadline=$1
    shift
    in +tickle wait:"$deadline" "$@"
}
alias tick=tickle

addbuy () {
  echo "$@" >> ~/notes/buy.txt
}
addread () {
  echo "$@" >> ~/notes/read.txt
}
addtravel () {
  echo "$@" >> ~/notes/travel.txt
}